---
---
<!-- get modelType -->
{% include fragment-modelType.html id='HotBeverage.Brewed' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='HotBeverage.Brewed' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: BrewedLog - Change History</h2>
  <p>Changes in the HotBeverage.Brewed {{modelType | downcase}}.</p>

  {%include StructureDefinition-HotBeverage.Brewed-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
